<p id="notice"><%= notice %></p>

<p>
  <strong>Nome da empresa:</strong>
  <%= @perfil.nome_da_empresa %>
</p>

<p>
  <strong>Razao social:</strong>
  <%= @perfil.razao_social %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @perfil.cnpj %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @perfil.telefone %>
</p>

<p>
  <strong>Nome do responsavel:</strong>
  <%= @perfil.nome_do_responsavel %>
</p>

<p>
  <strong>Telefone do responsavel:</strong>
  <%= @perfil.telefone_do_responsavel %>
</p>

<p>
  <strong>Email do responsavel:</strong>
  <%= @perfil.email_do_responsavel %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @perfil.rua %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @perfil.numero %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @perfil.cep %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @perfil.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @perfil.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @perfil.estado %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @perfil.complemento %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @perfil.user_id %>
</p>

<%= link_to 'Edit', edit_perfil_path(@perfil) %> |
<%= link_to 'Back', perfis_path %>
